.footer {
    background-color: $color-dark-grey;
    color: $color-white;
    padding: $section-padding;
    text-align: $text-center;

    &-navigation {
        margin-bottom: $size-medium-3;
    }

    &-navigation-box {
        margin: $margin-center;
    }

    &-list {
        font-weight: $font-weight-light;
        list-style: none;
        margin-bottom: 0;
    }

    &-item:not(:last-child) {
        margin-bottom: $size-x-tiny-3;
    }

    &-icon {
        font-size: $size-x-small-1;
        margin-right: $size-tiny-1;

        @include respond(tab-land) {
            font-size: $size-tiny-2;
        }

        @include respond(desktop-lg) {
            font-size: $size-tiny-4;
        }

        &-link:link,
        &-link:visited {
            color: $color-light-grey-4;
            transition: $standard-transition;
        }

        &-link:hover,
        &-link:active &-link:focus {
            color: $color-primary;
            text-decoration: none;
        }
    }

    &-link:link,
    &-link:visited {
        color: $color-medium-grey-1;
        font-size: $size-x-small-1;
        transition: $standard-transition;

        @include respond(tab-land) {
            font-size: $size-tiny-3;
        }

        @include respond(desktop-lg) {
            font-size: $size-tiny-4;
        }
    }

    &-link:hover,
    &-link:active,
    &-link:focus {
        color: $color-light-grey-2;
        text-decoration: none;
    }

    &-name-link:link,
    &-name-link:visited {
        color: $color-light-grey-4;
        font-size: $size-tiny-2;
        transition: $standard-transition;  
    }

    &-name-link:hover,
    &-name-link:active,
    &-name-link:focus {
        color: $color-primary;
        text-decoration: none;
    }
}