.nav {
    color: $color-white;
    position: relative;

    @include respond(tab-port) {
        padding: 0 $size-x-small-1;
    }

    @include respond(tab-land) {
        padding: 0 $size-x-small-3;
    }

    @include respond(laptop) {
        padding: 0 $size-medium-3;
    }

    @include respond(desktop) {
        padding: $size-tiny-1 $size-xx-large-1;
    }

    @include respond(desktop-lg) {
        padding: $size-x-small-1 $size-huge-1;  
    }

    &-list {
        padding-top: $size-tiny-1;

        @include respond(desktop) {
            padding-top: $size-tiny-2;  
        }
    }

    &-brand {
        font-family: $text-brand;
        font-size: $size-small-1;
        font-weight: $font-weight-light;

        @include respond(tab-port) {
            font-size: $size-medium-1;
        }

        @include respond(tab-land) {
            font-size: $size-small-3;
        }

        @include respond(laptop) {
            font-size: $size-medium-1;
        }

        @include respond(desktop) {
            font-size: $size-large-1;
        }

        @include respond(desktop-lg) {
            font-size: $size-x-large-1;
        }
    }

    &-option:link,
    &-option:visited {
        color: $color-light-grey-2 !important;
        font-size: $size-tiny-4;
        font-weight: $font-weight-light;
        transition: $standard-transition;

        @include respond(tab-land) {
            font-size: $size-tiny-3;
            margin-left: $size-x-tiny-2;
        }

        @include respond(laptop) {
            margin-left: $size-x-tiny-3;
        }

        @include respond(desktop){
            font-size: $size-x-small-2; 
            margin-left: $size-tiny-1;
        }

        @include respond(desktop-lg){
            font-size: $size-x-small-3; 
            margin-left: $size-tiny-2;
        }

        @include respond(desktop-4k){
            font-size: $size-small-1; 
            margin-left: $size-tiny-3;
        }

    }

    &-option:hover,
    &-option:active,
    &-option:focus {
        color: $color-primary !important;
    }
}