// BLACK & WHITE
$color-white: #fff;
$color-black: #000;

// GREYS
$color-light-grey-1: #f7f7f7;
$color-light-grey-2: #eee;
$color-light-grey-3: #dfdfdf;
$color-light-grey-4: #d1d1d1;
$color-medium-grey-1: #999;
$color-medium-grey-2: #777;
$color-medium-grey-3: #555;
$color-dark-grey: #333;

// PRIMARY COLORS
$color-primary: #75cac3;
$color-primary-light: #d7f7f5;
$color-primary-dark: #2a6171;

// SECONDARY COLOURS
$color-secondary-light: #f34573;
$color-secondary-dark: #ce2754;

// MARGIN CENTERING
$margin-center: 0 auto;

// BORDER RADIUS
$border-radius-small: 3px;
$border-radius-medium: 5px;

// TEXT
$text-brand: 'Lobster', cursive;
$text-main: 'Roboto', sans-serif;

$text-center: center;
$text-uppercase: uppercase;
$text-lowercase: lowercase;

$text-size-xtiny: 1rem;
$text-size-tiny: 1.25rem;
$text-size-extra-small: 1.5rem;
$text-size-small: 2rem;

$size-x-tiny-1: 0.25rem;
$size-x-tiny-2: 0.5rem;
$size-x-tiny-3: 0.75rem;

$size-tiny-1: 1rem;
$size-tiny-2: 1.25rem;
$size-tiny-3: 1.5rem;
$size-tiny-4: 1.75rem;

$size-x-small-1: 2rem;
$size-x-small-2: 2.25rem;
$size-x-small-3: 2.5rem;
$size-x-small-4: 2.75rem;

$size-small-1: 3rem;
$size-small-2: 3.25rem;
$size-small-3: 3.5rem;
$size-small-4: 3.75rem;

$size-medium-1: 4rem;
$size-medium-2: 4.25rem;
$size-medium-3: 4.5rem;
$size-medium-4: 4.75rem;

$size-large-1: 5rem;
$size-large-2: 5.25rem;
$size-large-3: 5.5rem;
$size-large-4: 5.75rem;

$size-x-large-1: 6rem;
$size-x-large-2: 6.25rem;
$size-x-large-3: 6.5rem;
$size-x-large-4: 6.75rem;

$size-xx-large-1: 7rem;
$size-xx-large-2: 7.25rem;
$size-xx-large-3: 7.5rem;
$size-xx-large-4: 7.75rem;

$size-huge-1: 8rem;
$size-huge-2: 8.25rem;
$size-huge-3: 8.5rem;
$size-huge-4: 8.75rem;

$size-x-huge-1: 9rem;
$size-x-huge-2: 9.25rem;
$size-x-huge-3: 9.5rem;
$size-x-huge-4: 9.75rem;

$size-massive-1: 10rem;
$size-massive-2: 11rem;
$size-massive-3: 12rem;
$size-massive-4: 13rem;
$size-massive-5: 14rem;
$size-massive-6: 15rem;

$font-weight-light: 100;
$font-weight-lighter: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

// WRAPPER
$wrapper: 75%;
$wrapper-wide: 90%;



// PADDING
$section-padding: 5rem 2.5rem;
$price-card-padding: 2rem;

// TRANSITIONS:
$standard-transition: all 250ms;

// DROP SHADOW
$box-shadow-xlight: 0 1rem 3rem rgba($color-black, .1);
$box-shadow-light: 0 1rem 3rem rgba($color-black, .2);
$box-shadow-medium: 0 1rem 3rem rgba($color-black, .5);
$box-shadow-dark: 0 1rem 3rem rgba($color-black, 1);
