// Button Styles
.button {
    border-radius: $border-radius-medium;
    box-shadow: $box-shadow-medium;
    color: $color-white;
    display: inline-block;
    font-size: $size-tiny-2;
    font-weight: $font-weight-lighter;
    margin: $size-tiny-1;
    padding: $size-tiny-2 $size-small-3;
    transition: $standard-transition;

    @include respond(tab-port){
        font-size: $size-tiny-3;
        padding: $size-tiny-1 $size-small-1; 
    }

    @include respond(tab-land){
        font-size: $size-tiny-2;
    }

    @include respond(desktop) {
        font-size: $size-tiny-3;
    }

    @include respond(desktop-lg) {
        font-size: $size-x-small-2;
    }
    
    // Solid Fill Button Styles
    &-fill:link,
    &-fill:visited {
        background-color: $color-primary;
        border: 2px solid transparent;
    }

    &-fill:hover,
    &-fill:active,
    &-fill:focus {
        background-color: darken($color-primary, 15);
        color: $color-white;
        text-decoration: none;
        transform: translateY(-3px) scale(1.03);
    }

    // Outline/No Fill Button Styles
    &-outline:link,
    &-outline:visited {
        border: 2px solid $color-primary;
    }

    &-outline:hover,
    &-outline:active,
    &-outline:focus {
        background-color: darken($color-primary, 10);
        border: 2px solid darken($color-primary, 10);
        color: $color-white;
        text-decoration: none;
        transform: translateY(-3px) scale(1.03);
    }

    &-fill-pricing:link,
    &-fill-pricing:visited {
        box-shadow: none;
    }

    &-fill-pricing:hover,
    &-fill-pricing:active,
    &-fill-pricing:focus {
        box-shadow: $box-shadow-xlight;
        transform: translateY(-3px);
    }
}

// Minimal Button Styles (How it all works section)
.button-2 {
    transition: $standard-transition;

    &:link,
    &:visited {
        border-bottom: 2px solid $color-primary;
        border-radius: $border-radius-medium;
        color: $color-dark-grey;
        font-size: $size-tiny-1;
        margin: $text-size-xtiny;
        padding: $size-x-tiny-3 $size-x-small-3;

        @include respond(tab-port) {
            font-size: $size-tiny-2;
        }

        @include respond(desktop-lg) {
            font-size: $size-tiny-4;
        }

        @include respond(desktop-4k) {
            font-size: $size-x-small-1;
        }
    }

    &:hover,
    &:active,
    &:focus {
        background-color: $color-primary;
        color: $color-white;
        text-decoration: none;
        transform: translateY(-3px) scale(1.03);
    }
}