.button {
    border-radius: $border-radius-medium;
    box-shadow: $box-shadow-medium;
    color: $color-white;
    display: inline-block;
    font-size: $text-size-small;
    font-weight: $font-weight-lighter;
    margin: 1rem;
    padding: 1.25rem 3.5rem;
    transition: $standard-transition;
    
    &-fill:link,
    &-fill:visited {
        background-color: $color-primary;
        border: 2px solid transparent;
        
    }

    &-fill:hover,
    &-fill:active,
    &-fill:focus {
        background-color: darken($color-primary, 15);
        color: $color-white;
        text-decoration: none;
        transform: translateY(-3px) scale(1.03);
    }

    &-outline:link,
    &-outline:visited {
        border: 2px solid $color-primary;
    }

    &-outline:hover,
    &-outline:active,
    &-outline:focus {
        background-color: darken($color-primary, 10);
        border: 2px solid darken($color-primary, 10);
        color: $color-white;
        text-decoration: none;
        transform: translateY(-3px) scale(1.03);
    }
}

.button-2 {
    transition: $standard-transition;

    &:link,
    &:visited {
        border-bottom: 2px solid $color-primary;
        border-radius: $border-radius-medium;
        color: $color-dark-grey;
        margin: 1rem;
        padding: .75rem 3rem;
    }

    &:hover,
    &:active,
    &:focus {
        background-color: $color-primary;
        color: $color-white;
        text-decoration: none;
        transform: translateY(-3px) scale(1.03);
    }
}