.features {

    &-row {
        padding: 0 $size-x-small-1;
    }

    &-card {
        border-radius: $border-radius-medium;
        margin: $margin-center;
        margin-bottom: $size-tiny-3;
        padding: $size-x-small-1;
        transition: $standard-transition;
        width: $wrapper;

        &:hover {
            box-shadow: $box-shadow-light;
            transform: translateY(-3px);
        }
    }

    &-icon {
        color: $color-primary-dark;
        font-size: $size-medium-3;
    }

}