.form {
    margin-top: 2rem;
    text-align: left;

    &-group:not(:last-child) {
        margin-bottom: $margin-bottom-inbetween-sm;
    }

    &-group-button {
        text-align: $text-center;
    }

    &-container {
        padding: 1rem 2.5rem;
    }

    &-input {
        border: none;
        border-bottom: 3px solid transparent;
        border-radius: $border-radius-small;
        color: $color-dark-grey;
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 1.15rem;
        padding: .75rem 1rem;
        transition: $standard-transition;
        width: 100%;

        @include respond(desktop) {
            font-size: 1.25rem;
        }

        @include respond(desktop-lg) {
            font-size: $text-size-extra-small;
        }

        @include respond(desktop-4k) {
            font-size: 1.75rem;
        }

        &:focus {
            @include inputFocus;

            &:invalid {
                border-bottom: 3px solid $color-secondary-dark;
            }
        }


    }

    &-ta {
        border: none;
        border-bottom: 3px solid transparent;
        border-radius: $border-radius-small;
        color: $color-dark-grey;
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 1.15rem;
        padding: .75rem 1rem;
        transition: $standard-transition;
        width: 100%;

        &:focus {
            @include inputFocus;
        }

    }

    &-label {
        display: block;
        color: $color-dark-grey;
        font-size: $text-size-small;
        font-weight: $font-weight-lighter;

        @include respond(desktop) {
            font-size: 2.25rem;
        }

        @include respond(desktop-lg) {
            font-size: 2.5rem;
        }

        @include respond(desktop-4k) {
            font-size: 2.75rem;
        }
    }

    &-button {
        background-color: $color-primary;
        border: none;
        border-radius: $border-radius-medium;
        box-shadow: $box-shadow-light;
        color: $color-white;
        font-size: $text-size-small;
        font-weight: $font-weight-lighter;
        padding: 1rem 2.5rem;
        text-align: $text-center;
        transition: $standard-transition;

        &:hover {
            background-color: darken($color-primary, 10);
            transform: translateY(-3px) scale(1.03);
        }
    }
}