.form {
    margin-top: $size-x-small-1;
    text-align: left;

    &-group:not(:last-child) {
        margin-bottom: $size-x-small-3;
    }

    &-group-button {
        text-align: $text-center;
    }

    &-container {
        padding: $size-tiny-1 $size-x-small-3;
    }

    &-input {
        border: none;
        border-bottom: 3px solid transparent;
        border-radius: $border-radius-small;
        color: $color-dark-grey;
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: $size-tiny-1;
        padding: $size-x-tiny-3 $size-tiny-1;
        transition: $standard-transition;
        width: 100%;

        @include respond(desktop) {
            font-size: $size-tiny-2;
        }

        @include respond(desktop-lg) {
            font-size: $size-tiny-3;
        }

        @include respond(desktop-4k) {
            font-size: $size-tiny-4;
        }

        &:focus {
            @include inputFocus;

            &:invalid {
                border-bottom: 3px solid $color-secondary-dark;
            }
        }
    }

    &-ta {
        border: none;
        border-bottom: 3px solid transparent;
        border-radius: $border-radius-small;
        color: $color-dark-grey;
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: $size-tiny-1;
        padding: $size-x-tiny-3 $size-tiny-1;
        transition: $standard-transition;
        width: 100%;

        &:focus {
            @include inputFocus;
        }
    }

    &-label {
        display: block;
        color: $color-dark-grey;
        font-size: $size-tiny-4;
        font-weight: $font-weight-lighter;

        @include respond(desktop) {
            font-size: $size-x-small-1;
        }

        @include respond(desktop-lg) {
            font-size: $size-x-small-2;
        }

        @include respond(desktop-4k) {
            font-size: $size-x-small-3;
        }
    }

    &-button {
        background-color: $color-primary;
        border: none;
        border-radius: $border-radius-medium;
        box-shadow: $box-shadow-light;
        color: $color-white;
        font-size: $size-tiny-4;
        font-weight: $font-weight-lighter;
        padding: $size-tiny-1 $size-x-small-3;
        text-align: $text-center;
        transition: $standard-transition;

        &:hover {
            background-color: darken($color-primary, 10);
            transform: translateY(-3px) scale(1.03);
        }
    }
}