// Pricing Card Styles
.pricing-card {
    background-color: transparent;
    box-shadow: $box-shadow-light;
    color: $color-white;
    margin: $margin-center;
    margin-bottom: $size-x-large-1;
    padding: 0;
    position: relative;
    transition: $standard-transition;
    width: $wrapper-wide;

    // Media Queries
    @include respond(tab-port) {
        width: 70%;
    }

    @include respond(tab-land) {
        transform: scale(.9);
        margin-bottom: $text-size-small;
    }

    // Price Card Image Styling
    &-image {
        position: relative;


        &-text-box {
            @include absoluteCenter;
            background-color: rgba($color-black, 0.6);
            width: 100%;
        }

        &-1 {
            border-radius: 7px 7px 0 0;
        }
    }

    // Price Card Box Styling
    &-content {
        background-color: white;
        color: $color-primary-dark;
        padding: $text-size-extra-small 0;
    }

    &-membership-header {
        font-size: $size-small-1;
        font-weight: $font-weight-light;
        padding-top: $size-tiny-3;
        margin-bottom: $size-tiny-1;
        text-transform: $text-uppercase;

        @include respond(tab-land) {
            font-size: $size-x-small-3;
        }

        @include respond(desktop) {
            font-size: $size-small-4;
        }
    }

    &-price-header {
        font-size: $size-large-3;
        font-weight: $font-weight-light;

        @include respond(desktop-lg) {
            font-size: $size-x-large-3;
        }
    }

    // Pricing Card Features List Styling
    &-list {
        font-weight: $font-weight-lighter;
        list-style: none;
        margin-top: $size-tiny-3;

        &-item {
            font-size: $size-tiny-4;

            @include respond(desktop-lg) {
                font-size: $size-x-small-1;
            }

            &:not(:last-child) {
                margin-bottom: $size-x-small-1;
            }

            &-faded {
                color: lighten($color-primary-dark, 45);
            }
        }
    }

    // Per Month Span Styling
    &-span {
        @include respond(laptop) {
            font-size: $size-tiny-2;
        }

        @include respond(desktop) {
            font-size: $size-tiny-3;
        }

        @include respond(desktop-lg) {
            font-size: $size-tiny-4;
        }

        @include respond(desktop-4k) {
            font-size: $size-x-small-1;
        }
    }
}