.steps {

    background-color: $color-light-grey-1;

    &-block {
        margin: $margin-top-medium;

        @include respond(desktop) {
            margin-bottom: 3rem;
        }

        @include respond(desktop-4k) {
            margin-bottom: 5rem;
        }
    }
   
    &-block-left{
        @include respond(desktop) {
            margin-top: 5.5rem;
        }

        @include respond(desktop-lg) {
            margin-top: 9rem;
        }

        @include respond(desktop-4k) {
            margin-top: 15rem;
        }
    }

    &-carousel {
        border-radius: $border-radius-medium;
        box-shadow: $box-shadow-light;
        margin: 3rem auto;
        overflow: hidden;

        @include respond(tab-port) {
            margin: 3.5rem auto;
            width: 85%;
        }

        @include respond(tab-land) {
            margin-top: 4.2rem;
        }

        @include respond(laptop) {
            margin-top: 3.5rem;
        }
    }

    &-learn-more {
        margin: $margin-center;
    }
}