.steps {

    background-color: $color-light-grey-1;

    &-block {
        margin: $size-small-1;

        @include respond(desktop) {
            margin-bottom: $size-small-1;
        }

        @include respond(desktop-4k) {
            margin-bottom: $size-medium-3;
        }
    }
   
    &-block-left{
        @include respond(desktop) {
            margin-top: $size-large-3;
        }

        @include respond(desktop-lg) {
            margin-top: $size-x-huge-1;
        }

        @include respond(desktop-4k) {
            margin-top: $size-massive-6;
        }
    }

    &-carousel {
        border-radius: $border-radius-medium;
        box-shadow: $box-shadow-light;
        margin: $size-small-1 auto;
        overflow: hidden;

        @include respond(tab-port) {
            margin: $size-small-3 auto;
            width: 85%;
        }

        @include respond(tab-land) {
            margin-top: $size-medium-2;
        }

        @include respond(laptop) {
            margin-top: $size-small-3;
        }
    }

    &-learn-more {
        margin: $margin-center;
    }
}