// font-family: 'Lobster', cursive;
// font-family: 'Roboto', sans-serif;

body {
    color: $color-dark-grey;
    font-family: $text-main;
    font-weight: $font-weight-normal;
}

.heading-primary {
    font-size: $text-size-medium;
    font-weight: $font-weight-light;
    margin-bottom: $margin-bottom-small;

    @include respond(laptop) {
        font-size: 5.5rem;
    }

    @include respond(desktop) {
        font-size: 6rem;
    }

    @include respond(desktop-lg) {
        font-size: 7rem;
    }

    @include respond(desktop-lg) {
        font-size: 9rem;
    }
}

.heading-secondary {
    @include textGradient;
    
    font-size: $text-size-medium;
    font-weight: $font-weight-light;
    margin-bottom: $margin-bottom-extra-small;
    text-transform: uppercase;

    @include respond(tab-port) {
        font-size: 5rem;
    }

    @include respond(desktop-lg) {
        font-size: 6rem;
    }

    @include respond(desktop-4k) {
        font-size: 7.5rem;
    }

    &-white {
        color: $color-white;

        @include respond(tab-port) {
            font-size: 5rem;
            margin-bottom: 3rem;
        }
    
        @include respond(desktop-lg) {
            font-size: 6rem;
        }
    
        @include respond(desktop-4k) {
            font-size: 7.5rem;
        }
    }
}

.heading-tertiary {
    
    font-size: $text-size-inbetween-sm;
    font-weight: $font-weight-light;
    margin-bottom: $margin-bottom-extra-small;

    &-contact {
        font-size: $text-size-medium;
        text-align: $text-center;
    }

    &-footer {
        color: $color-light-grey-4;
        font-size: 3.25rem;
        text-align: center;
    }

    @include respond(tab-land){
        font-size: 2.5rem;
    }

    @include respond(tab-land){
        font-size: 2.5rem;
    }

    @include respond(desktop-4k){
        font-size: 3rem;
    }
}

.heading-quaternary {
    @include textGradient;

    font-size: $text-size-extra-small;

    @include respond(desktop-4k){
        font-size: 2.5rem;
    }
}

.paragraph {
    font-size: $text-size-extra-small;
    font-weight: $font-weight-lighter;

    &-footer {
        color: $color-light-grey-4;
    }

    @include respond(tab-land){
        font-size: 1.25rem;
    }

    @include respond(desktop-lg) {
        font-size: 1.5rem;
    }

    @include respond(desktop-4k) {
        font-size: 1.7rem;
    }
}
