// font-family: 'Lobster', cursive;
// font-family: 'Roboto', sans-serif;

// Overall Text Settings
body {
    color: $color-dark-grey;
    font-family: $text-main;
    font-weight: $font-weight-normal;
}

// Primary Heading Styles
.heading-primary {
    font-size: $text-size-inbetween-sm;
    font-weight: $font-weight-light;
    margin-bottom: $margin-bottom-small;

    @include respond(tab-port) {
        font-size: $text-size-inbetween-ml;
    }

    @include respond(tab-land) {
        font-size: $text-size-medium;
    }

    @include respond(laptop) {
        font-size: 5.5rem;
    }

    @include respond(desktop-lg) {
        font-size: $text-size-inbetween-lxl;
    }

    @include respond(desktop-lg) {
        font-size: 9rem;
    }
}

// Secondary Heading Styles
.heading-secondary {
    @include textGradient;

    font-size: $text-size-medium;
    font-weight: $font-weight-light;
    margin-bottom: $margin-bottom-extra-small;
    text-transform: $text-uppercase;

    @include respond(tab-port) {
        font-size: $text-size-inbetween-ml;
    }

    @include respond(desktop-lg) {
        font-size: $text-size-large;
    }

    @include respond(desktop-4k) {
        font-size: 7.5rem;
    }

    &-white {
        color: $color-white;

        @include respond(tab-port) {
            font-size: $text-size-inbetween-ml;
            margin-bottom: $margin-bottom-medium;
        }

        @include respond(desktop-lg) {
            font-size: $text-size-large;
        }

        @include respond(desktop-4k) {
            font-size: 7.5rem;
        }
    }
}

// Tertiary Heading Styles
.heading-tertiary {
    font-size: $text-size-inbetween-sm;
    font-weight: $font-weight-light;
    margin-bottom: $margin-bottom-extra-small;

    @include respond(tab-land) {
        font-size: 2.5rem;
    }

    @include respond(desktop-4k) {
        font-size: $text-size-inbetween-sm;
    }

    // Testimonail Section Tertiary Heading Styles
    &-testimonial {
        @include respond(tab-port) {
            font-size: $text-size-inbetween-ml;
        }

        @include respond(tab-land) {
            font-size: $text-size-medium;
        }

        @include respond(desktop) {
            font-size: 5.5rem;
        }

        @include respond(desktop-lg) {
            font-size: 6.75rem;
        }

        @include respond(desktop-4k) {
            font-size: $text-size-huge;
        }
    }

    // Contact Section Tertiary Heading Styles
    &-contact {
        font-size: $text-size-medium;
        text-align: $text-center;
    }

    // Footer Tertiary Heading Styles
    &-footer {
        color: $color-light-grey-4;
        font-size: 3.25rem;
        text-align: $text-center;

        @include respond(tab-land) {
            font-size: 2.25rem;
        }

        @include respond(desktop-lg) {
            font-size: $text-size-inbetween-sm;
        }
    }
}

// Quaternary Heading Styles
.heading-quaternary {
    @include textGradient;

    font-size: $text-size-extra-small;

    @include respond(tab-port) {
        font-size: 1.75rem;
    }

    @include respond(desktop-4k) {
        font-size: 2.5rem;
    }
}

// Paragraph Styles
.paragraph {
    font-size: $text-size-extra-small;
    font-weight: $font-weight-lighter;

    @include respond(tab-land) {
        font-size: $text-size-tiny;
    }

    @include respond(desktop-lg) {
        font-size: $text-size-extra-small;
    }

    @include respond(desktop-4k) {
        font-size: 1.75rem;
    }

    &-footer {
        color: $color-light-grey-4;

        @include respond(laptop) {
            font-size: 1rem;
        }

        @include respond(desktop-lg) {
            font-size: $text-size-tiny;
        }
    }
}