// font-family: 'Lobster', cursive;
// font-family: 'Roboto', sans-serif;

body {
    color: $color-dark-grey;
    font-family: $text-main;
    font-weight: $font-weight-normal;
}

.heading-primary {
    font-size: $text-size-medium;
    font-weight: $font-weight-light;
    margin-bottom: $margin-bottom-small;
}

.heading-secondary {
    @include textGradient;
    
    font-size: $text-size-medium;
    font-weight: $font-weight-light;
    margin-bottom: $margin-bottom-extra-small;
    text-transform: uppercase;

    &-white {
        color: $color-white;
    }
}

.heading-tertiary {
    font-size: $text-size-inbetween-sm;
    font-weight: $font-weight-light;
    margin-bottom: $margin-bottom-extra-small;

    &-contact {
        font-size: $text-size-medium;
        text-align: $text-center;
    }

    &-footer {
        color: $color-light-grey-4;
        font-size: 3.25rem;
        text-align: center;
    }
}

.heading-quaternary {
    font-size: $text-size-extra-small;
}

.paragraph {
    font-size: $text-size-extra-small;
    font-weight: $font-weight-lighter;

    &-footer {
        color: $color-light-grey-4;
    }
}
